flows.json
[{"id":"4798162a.128338","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"83c1e6e2.aad118","type":"function","z":"4798162a.128338","name":"pretoken","func":"global.set('AVGHEARTBEATSPERMIN', msg.payload.AVGHEARTBEATSPERMIN)\nglobal.set('PALPITATIONSPERDAY', msg.payload.PALPITATIONSPERDAY)\nglobal.set('CHOLESTEROL', msg.payload.CHOLESTEROL)\nglobal.set('SEX', msg.payload.SEX)\nglobal.set('FAMILYHISTORY', msg.payload.FAMILYHISTORY)\nglobal.set('BMI', msg.payload.BMI)\nglobal.set('SMOKERLAST5YRS', msg.payload.SMOKERLAST5YRS)\nglobal.set('Age', msg.payload.Age)\nglobal.set('EXERCISEMINPERWEEK',msg.payload.EXERCISEMINPERWEEK)\nvar apikey=\"ZeSu4B-lB2dG2HWRx71Ikdbo4d09BnA9con5YRU2OG3b\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["98f15be3.8dd6e8"]]},{"id":"dbdcb5d2.361108","type":"debug","z":"4798162a.128338","name":"","active":true,"console":"false","complete":"false","x":450,"y":400,"wires":[]},{"id":"98f15be3.8dd6e8","type":"http request","z":"4798162a.128338","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":300,"wires":[["39f8c2d1.06198e","2bc962c4.1f0dee"]]},{"id":"39f8c2d1.06198e","type":"function","z":"4798162a.128338","name":"Pre Prediction","func":"var AVGHEARTBEATSPERMIN = global.get(\"AVGHEARTBEATSPERMIN\")\nvar PALPITATIONSPERDAY = global.get(\"PALPITATIONSPERDAY\")\nvar CHOLESTEROL = global.get(\"CHOLESTEROL\")\nvar SEX = global.get(\"SEX\")\nvar FAMILYHISTORY = global.get(\"FAMILYHISTORY\")\nvar BMI = global.get(\"BMI\")\nvar SMOKERLAST5YRS = global.get(\"SMOKERLAST5YRS\")\nvar Age = global.get(\"Age\")\nvar EXERCISEMINPERWEEK = global.get(\"EXERCISEMINPERWEEK\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\"BMI\",\"Age\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"]],\"values\": [[AVGHEARTBEATSPERMIN,PALPITATIONSPERDAY,CHOLESTEROL,BMI,Age,SEX,FAMILYHISTORY,SMOKERLAST5YRS,EXERCISEMINPERWEEK]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":300,"wires":[["8eaabf7b.12b42"]]},{"id":"2bc962c4.1f0dee","type":"debug","z":"4798162a.128338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":400,"wires":[]},{"id":"8eaabf7b.12b42","type":"http request","z":"4798162a.128338","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/1a9445ba-e07c-460b-acbf-9f7d9b1dd434/predictions?version=2021-07-20","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":300,"wires":[["6c98aee5.e814b","bbdc12ac.b28e6"]]},{"id":"6c98aee5.e814b","type":"function","z":"4798162a.128338","name":"Parsing","func":"msg.payload=masg.payload[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":160,"wires":[["37feb93a.f61366","ed978aef.1117a8"]]},{"id":"c943486e.4cf6d8","type":"ui_form","z":"4798162a.128338","name":"","label":"","group":"","order":1,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"AVGHEARTBEATSPERMIN","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"PALPITATIONSPERDAY","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"CHOLESTEROL","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"AGE","value":"AGE","type":"number","required":true,"rows":null},{"label":"SEX","value":"SEX","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY(Y/N)","value":"FAMILY HISTORY","type":"text","required":true,"rows":null},{"label":"SMOKERLAST5YRS(Y/N)","value":"hSMOKERLAST5YRS","type":"text","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"EXERCISEMINPERWEEK","type":"number","required":true,"rows":null}],"formValue":{"AVGHEARTBEATSPERMIN":"","PALPITATIONSPERDAY":"","CHOLESTEROL":"","BMI":"","AGE":"","SEX":"","FAMILY HISTORY":"","hSMOKERLAST5YRS":"","EXERCISEMINPERWEEK":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":280,"y":300,"wires":[["dbdcb5d2.361108","83c1e6e2.aad118"]]},{"id":"37feb93a.f61366","type":"ui_text","z":"4798162a.128338","group":"c4179c12.8b7af","order":0,"width":0,"height":0,"name":"","label":"Prediction will be","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":480,"wires":[]},{"id":"ed978aef.1117a8","type":"debug","z":"4798162a.128338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1260,"y":160,"wires":[]},{"id":"bbdc12ac.b28e6","type":"debug","z":"4798162a.128338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1300,"y":300,"wires":[]},{"id":"c4179c12.8b7af","type":"ui_group","name":"Prediction","tab":"f061dd6d.de6fe","order":1,"disp":true,"width":"6","collapse":false},{"id":"f061dd6d.de6fe","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]